# .editorconfig to be linked from /home/user/
# Functions as fallback config when no other root config is found.
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.ron]
indent_style = space
indent_size = 2

[*.{sh,md}]
indent_style = space
indent_size = 2

[*.{cpp,hpp,py}]
indent_style = space
indent_size = 4
